<header class="site-header">
  <h1>
    <button
      [routerLink]="['/' + ROUTE_TOKENS.home]"
    ><img src="../../assets/images/justlikepeople.png" alt="Just Like People Logo" /></button>
  </h1>
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <nav>
          <ul>
            <li>
              <button
                class="menu-item"
                mat-button
                [matMenuTriggerFor]="menu"
              >Products <span>&#8964;</span></button>
              <mat-menu class="menu-dropdown" #menu="matMenu">
                <button
                  *ngFor="let link of LINKS"
                  mat-menu-item
                  [routerLink]="['/' + ROUTE_TOKENS.products, link.category]"
                  routerLinkActive="router-link-active"
                >{{ link.description }}</button>
              </mat-menu>
            </li>
            <li>
              <button
                [routerLink]="[ '/' + ROUTE_TOKENS.contact]"
                routerLinkActive="router-link-active"
                class="menu-item"
                mat-button
              >Contact</button></li>
          </ul>
        </nav>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <button (click)="sidenav.toggle()" mat-menu-item>Close</button>
      <button mat-menu-item (click)="sidenav.toggle()">Contact</button>
      <button
        *ngFor="let link of LINKS"
        mat-menu-item
        [routerLink]="['/' + ROUTE_TOKENS.products, link.category]"
        routerLinkActive="router-link-active"
      >{{ link.description }}</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
