<div class="button-row">
  <button
    [routerLink]="['/' + ROUTE_TOKENS.home]"
    mat-button
  >Home</button>
  <span>>></span>
  <ng-container *ngFor="let breadcrumb of breadcrumbs">
    <button
      *ngIf="breadcrumb.routerLink; else noLink"
      [routerLink]=breadcrumb.routerLink
      mat-button
    >{{ breadcrumb.display }}</button>
    <ng-template #noLink>
      <button
      mat-button
    >{{ breadcrumb.display }}</button>
    </ng-template>
    <span>>></span>
  </ng-container>
</div>
